*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}


body{
    background-color: #14120B;
    font-family: "Cursor Gothic", sans-serif;

}

/** nav bar ------------- */

nav{
    background-color: #14120B;
    position: sticky;
    top: 0px;
    z-index: 100;
}

nav div.navbar{
    padding: 15px 25px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
}

nav div.links{
    display: flex;
    gap: 40px;
}

nav div.links a{
    color: #EDECEC;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

nav div.buttons{
    display: flex;
    gap: 10px;
}

nav button.first{
    padding: 2px 10px;
    font-size: 16px;
    border: #45433E 1px solid;
    background-color: #1B1913;
    color: #EDECEC;
    border-radius: 30px;
}

nav button.second{
    border: none;
    background-color: #EDECEC;
    color: #1B1913;
    border-radius: 30px;
    padding: 2px 10px;
    font-size: 16px;    
}

/** main-----------------------------------------*/

/* 1.Hero section :-----------------*/

main div.hero-section{
    padding: 100px 30px;
}

main h1{
    color: #EDECEC;
    font-size: 24px;
    font-weight: 400;
}

main button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
}

main span{
    font-size: 18px;
    margin-left: 5px;
    font-weight: 400;
}

main div.image-bar{
    width: 100%;
    height: 680px;
    margin-top: 50px;
    position: relative;
    z-index: -1;
}

main img.back{
    width: 100%;
    height: 680px;
    border-radius: 4px;
}


main img.inner{
    width: 85%;;
    position: absolute;
    top: 35px;
    left: 120px;
    border-radius: 8px;
    height: 610px;
    
}

/* 2.trusted by :-----------------*/

section div.brands{
    margin-top: -30px ;
}

section div p.brand-heading{
    text-align: center;
    color: #EDECEC;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

section div.brand-cards{
    width: 100%;
    height: 100px;
    padding: 0px 25px;
    display: grid;
    grid-template-columns: repeat(8, 121px);
    gap: 10px;
}

section div.child{
    padding: 25px;
    background-color: #1B1913;
    width: 100%;
    height: 100px;
}

section div.child img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 3. Features section:-----------------*/

section div.card{
    margin: 90px 20px;
    padding: 20px;
    background-color: #1D1B15;
    display: flex;
    justify-content: space-between;
}

section div.written-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 295px;
    height: 680px;
}

section div.written-part h2{
    font-size: 22px;
    font-weight: 400;
    color: #EDECEC;
}

section div.written-part p{
    font-size: 22px;
    font-weight: 400;
    color: #999896;
}

section div.written-part a{
    font-size: 15px;
    font-weight: 400;
    color: #f54e00;
    text-decoration: none;
}

section div.image-part{
    position: relative;
    width: 664px;
    height: 650px;
}

section div.image-part img{
    position: absolute;
    width: 100%;
    height: 100%;
}

    /*!---- feature 2 switch */

section div#feature-2{
    display: flex;
    flex-direction: row-reverse;

}

section div#feature-2 div.written-part{
    padding: 25px;
}

/* 4.Testimonials-----------------*/

.testimonials-heading2{
    color: #EDECEC;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

section div.testimonials{
    padding: 45px 25px;
    display: grid;
    grid-template-rows: repeat(2, 240fr);
    grid-template-columns: repeat(3, 339px);
    gap: 9px;
}

section div.block{
    background-color: #1B1913;
    padding: 20px 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

section div.block p{
    color: #EDECEC;
    font-size: 16px;
}

div.person{
    margin-top: 100px;
    display: flex;
}

div.person img{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.name{
    color: #EDECEC;
    font-size: 15px;
    margin-left: 12px;
}

.desc{
    color: #999896;
    font-size: 14px;
    margin-left: 12px;
}

/* 4.Stay On the frontier section-----------------*/

.frontier{
    padding: 100px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.frontier h2{
    color: #EDECEC;
    font-size:23px;
    text-align: left;
    margin-bottom: 25px;
}

.frontier-card{
    background-color: #1B1913;
    padding: 20px 18px;
    height: 582px;
    width: 1036px;
}

.frontier h3{
    font-size: 16px;
    font-weight: 400;
    color: #EDECEC;
}

.frontier p{
    font-size: 16px;
    font-weight: 400;
    color: #999896;
    margin-bottom: 15px;
}

.frontier a{
    font-size: 15px;
    font-weight: 400;
    color: #f54e00;
    text-decoration: none;
}

.frontier img{
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
}


/* 5.Changelog-----------------*/

.changelogs{
    padding: 30px 25px;
    display: grid;
    grid-template-columns: repeat(4, 252px);
    grid-template-rows: repeat(1,121px);
    gap: 10px;
}

.changelog-heading{
    font-size: 25px;
    margin: 25px;
    margin-bottom: -8px;
}

.logs{
    background-color:#1B1913;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 18px;
}

.date{
    color: #9B9A98;
    font-size: 17px;
}

.review{
    margin-right: 10px;
    border: #9B9A98 1px solid;
    padding: 2px 8px;
    border-radius: 20px;
    font-size: 16px;
}

.address{
    color: #EDECEC;
    font-size: 16px;
}

.changelog-link{
    margin: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #f54e00;
    text-decoration: none;
}

/* 5.Join us-----------------*/

.join-card{
    margin: 90px 20px;
    padding: 20px;
    width: 1036px;
    height: 409px;
    background-color: #1D1B15;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.join-written-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 295px;
    height: 374px;
}

.join-written-part h2{
    font-size: 22px;
    font-weight: 400;
    color: #EDECEC;
}

.join-written-part p{
    font-size: 22px;
    font-weight: 400;
    color: #999896;
}

.join-written-part a{
    font-size: 15px;
    font-weight: 400;
    color: #f54e00;
    text-decoration: none;
}

.join-image-part{
    position: relative;
    width: 664px;
    height: 374px;
    border-radius: 10px;
}

.join-image-part img{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* 6.Recent highlights-----------------*/

.r-section{
    width: 1078px;
    height: 686px;
    background-color: #1B1913;
    display: flex;
    padding: 60px 20px;
    justify-content: space-between;
}

div.r-heading{
    width: 30%;
    height: 100%;
}

div.r-heading h3{
    color: #EDECEC;
    font-weight: 400;
    font-size: 17px;
}


div.r-cards{
    width: 100%;
    background-color: #201E18;
    padding: 20px 18px;
}

div.r-cards-div{
    display: grid;
    grid-template-rows: repeat(3, 147px);
    gap: 10px;
}

div.r-cards h3{
    color:#EDECEC;
    font-weight: 400;
    font-size: 16px;
}

div.r-cards p{
    color: #8E8E8E;
}

.r-link{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #f54e00;
    text-decoration: none;
}

/* 7.Footer-----------------*/

div.full{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: #1B1913;
    padding-top: 60px;
    padding-left: 15px;
    padding-bottom: 30px;
    width: 100%;
    height: 465px
}

div.list{
    padding: 0px;
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2;
}

p.list-name {
    margin-left: 11px;
    color: #999896;
}

p.name {
    color: #EDECEC;
}

div.last{
    display: flex;
    justify-content: space-between;
}

.rights-line{
    font-size: 15px;
    color: #999896;
}

div.footer-buttons{
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.theme{
    color: #999896;
    font-size: 16px;
    padding: 2px 10px;
    border-radius: 20px;
    background-color: #26241E;
}

.lang{
    font-size: 15px;
    padding: 2px 10px;
    border-radius: 20px;
    background-color: #26241E;
}