*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}


body{
    background-color: #14120B;
    font-family: "Cursor Gothic", sans-serif;

}

nav div.navbar{
    padding: 15px 30px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;

}

nav div.links{
    display: flex;
    gap: 40px;
}

nav div.links a{
    color: #EDECEC;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

nav div.buttons{
    display: flex;
    gap: 10px;
}

nav button.first{
    padding: 2px 10px;
    font-size: 16px;
    border: #45433E 1px solid;
    background-color: #1B1913;
    color: #EDECEC;
    border-radius: 30px;
}

nav button.second{
    border: #45433E 1px solid;
    background-color: #EDECEC;
    color: #1B1913;
    border-radius: 30px;
    padding: 2px 10px;
    font-size: 16px;    
}

main div.hero-section{
    padding: 100px 30px;
}

main h1{
    color: #EDECEC;
    font-size: 24px;
    font-weight: 400;
}

main button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
}

main div.image-bar{
    margin-top: 50px;
    position: relative;
    z-index: -1;
}

main img.back{
    width: 1285px;
    height: 680px;
    border-radius: 4px;
}


main img.inner{
    width: 1040px;;
    position: absolute;
    top: 35px;
    left: 120px;
    border-radius: 8px;
    height: 610px;
    
}

section div.brands{
    margin-top: -30px ;
}

section div p.brand-heading{
    text-align: center;
    color: #EDECEC;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

section div.brand-cards{
    padding: 0px 30px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

section div.child{
    padding: 27px;
    background-color: #1B1913;
    width: 154px;
    height: 100px;
}

section div.child img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


