*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("/src/resources/fonts/CursorGothic-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}


body{
    background-color: #14120B;
    font-family: "Cursor Gothic", sans-serif;

}

/** nav bar ------------- */

nav{
    background-color: #14120B;
    position: sticky;
    top: 0px;
    z-index: 100;
}

nav div.navbar{
    padding: 15px 25px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
}

nav div.links{
    display: flex;
    gap: 40px;
}

nav div.links a{
    color: #EDECEC;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

nav div.buttons{
    display: flex;
    gap: 10px;
}

nav button.first{
    padding: 2px 10px;
    font-size: 16px;
    border: #45433E 1px solid;
    background-color: #1B1913;
    color: #EDECEC;
    border-radius: 30px;
}

nav button.second{
    border: #45433E 1px solid;
    background-color: #EDECEC;
    color: #1B1913;
    border-radius: 30px;
    padding: 2px 10px;
    font-size: 16px;    
}

/** main-----------------------------------------*/

/* 1.Hero section :-----------------*/

main div.hero-section{
    padding: 100px 30px;
}

main h1{
    color: #EDECEC;
    font-size: 24px;
    font-weight: 400;
}

main button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
}

main span{
    font-size: 18px;
    margin-left: 5px;
    font-weight: 400;
}

main div.image-bar{
    width: 100%;
    height: 680px;
    margin-top: 50px;
    position: relative;
    z-index: -1;
}

main img.back{
    width: 100%;
    height: 680px;
    border-radius: 4px;
}


main img.inner{
    width: 85%;;
    position: absolute;
    top: 35px;
    left: 120px;
    border-radius: 8px;
    height: 610px;
    
}

/* 2.trusted by :-----------------*/

section div.brands{
    margin-top: -30px ;
}

section div p.brand-heading{
    text-align: center;
    color: #EDECEC;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

section div.brand-cards{
    width: 100%;
    height: 100px;
    padding: 0px 25px;
    display: grid;
    grid-template-columns: repeat(8, 121px);
    gap: 10px;
}

section div.child{
    padding: 25px;
    background-color: #1B1913;
    width: 100%;
    height: 100px;
}

section div.child img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 3. Features section:-----------------*/

section div.card{
    margin: 90px 30px;
    padding: 20px;
    background-color: #1D1B15;
    display: flex;
    gap: 5px;
}

section div.written-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 415px;
    height: 680px;
}

section div.written-part h2{
    font-size: 22px;
    font-weight: 400;
    color: #EDECEC;
}

section div.written-part p{
    font-size: 22px;
    font-weight: 400;
    color: #999896;
}

section div.written-part a{
    font-size: 16px;
    font-weight: 400;
    color: #f54e00;
    text-decoration: none;
}

section div.image-part{
    position: relative;
    width: 840px;
    height: 680px;
}

section div.image-part img{
    position: absolute;
    width: 100%;
    height: 100%;
}

    /*!---- feature 2 switch */

section div#feature-2{
    display: flex;
    flex-direction: row-reverse;

}

section div#feature-2 div.written-part{
    padding: 25px;
}

/* 4.Testimonials-----------------*/


